@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            overflow: hidden;
        }

        .form-bg {
            background-color: #f5f5f5;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            background-color: #fff;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
            width: 80%; /* Adjust width here */
            max-width: 500px; /* Limit maximum width */
        }

        .title {
            color: #000;
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 25px;
            position: relative;
        }

            .title:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                background-color: #D36E5D;
                height: 3px;
                width: 60px;
            }

        .sub-title {
            color: #333;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .form-control {
            border-radius: 10px;
            margin-bottom: 15px;
        }

        .signup-btn {
            padding: 10px 30px;
            background-color: #B85042; /* Background color */
            color: #E7E8D1; /* Text color */
            text-decoration: none;
            border-radius: 50px;
            margin-bottom: 20px;
            margin-top: 30px;
            font-size: 20px; /* Increased font size */
            transition: background-color 0.3s;
            border: none; /* Remove default button border */
            cursor: pointer;
            display: inline-block;
        }

            .signup-btn:hover {
                background-color: #D36E5D; /* Hover background color */
            }
    </style>
</head>
@*<h1>@ViewData["Title"]</h1>*@
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a asp-area="" asp-controller="Authentication" asp-action="Settings">PollenPage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

</nav>
<div class="form-bg">
    <div class="form-container">
        <h3 class="title">Sign Up</h3>
        @*<div class="row">*@
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        @*<h2>Create a new account.</h2>
        <hr />*@
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @*<div class="form-floating mb-3">*@


        @*<div class="form-floating mb-3">*@
        <div class="form-group">
            <input asp-for="Input.Name" class="form-control" autocomplete="new-name" aria-required="true" placeholder="UserName" />
            @*<label asp-for="Input.ConfirmPassword">Confirm Password</label>*@
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>


        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email Address" />
            @*<label asp-for="Input.Email">Email</label>*@
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>


        <div class="form-group">
            @*<div class="form-floating mb-3">*@
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
            @*<label asp-for="Input.Password">Password</label>*@
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>



        @*<div class="form-floating mb-3">*@
        <div class="form-group">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
            @*<label asp-for="Input.ConfirmPassword">Confirm Password</label>*@
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <h4 class="sub-title">Personal Information</h4>



        @*<div class="form-floating mb-3">*@
        <div class="form-group">
            <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="new-number" aria-required="true" placeholder="Phone Number" />
            @*<label asp-for="Input.ConfirmPassword">Confirm Password</label>*@
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>

        @*<div class="form-floating mb-3">*@
        <div class="form-group">
            <input asp-for="Input.City" class="form-control" autocomplete="new-city" aria-required="true" placeholder="Your City" />
            @*<label asp-for="Input.ConfirmPassword">Confirm Password</label>*@
            <span asp-validation-for="Input.City" class="text-danger"></span>
        </div>


        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="agree">
            <label class="form-check-label" for="agree">I agree to the terms</label>
        </div>
        <div class="text-center">
            <button id="registerSubmit" type="submit" class=signup-btn>Create Account</button>
        </div>
    </form>
    </div>
</div>
</html>
                  
        @*<div class="col-md-6 col-md-offset-2">
                    <section>
                        <h3>Use another service to register.</h3>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                        about setting up this ASP.NET application to support logging in via external services</a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>
            </div>

        *@

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
